.btn-full {
    font-family: $button-stack;
    display:inline-block;
    background: $dark-green;
    color: $white;
    font-size: 16px;
    text-transform: uppercase;
    padding: calc( calc($padding-base / 2) );
    text-decoration: none;
    border: 1px solid $dark-green;

    &:hover {

        background: $light-grey;
        color: $dark-green;
        border: 1px solid $dark-green;

    }
}

.btn-grey {
    background: $dark-grey;
    border: 1px solid $dark-grey;

    &:hover {

        background: $light-grey;
        color: $black;
        border: 1px solid $dark-grey;

    }
}

.btn-outline {
    font-family: $button-stack;
    display:inline-block;
    background: $light-grey;
    color: $dark-green;
    border: 1px solid $dark-green;
    font-size: 16px;
    text-transform: uppercase;
    padding: calc( calc($padding-base / 2) );
    text-decoration: none;

    &:hover {

        background: $dark-green;
        color: $white;
        border: 1px solid $dark-green;
        

    }
}

.btn-right {
    float: right;
}