.home-banner {
    /*grid-area: content;
    grid-column: 2/4;
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: "banner-text";
    min-height: 150px;*/
    
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    position: relative;

    min-height: 520px;
    margin-bottom: 0;
    

  .banner-text {
      grid-area: content;
      color: $white;
      margin: 0 $margin-base;
      align-self: center;
      width: 80%;

      background-color: $dark-green-70;
      padding: $padding-base;
      position: absolute;
      top: 70%;

      h1 {
        color: $white;
        margin-bottom: 0;
      }

      h2 {
        color: $white;
        margin-top: 0;
      }

     
  }
}

@media (max-width:768px) {
    .home-banner {
        /*grid-area: sitecontent;
        grid-column: 2/4;*/
        
        min-height: 200px;

        .banner-text {
            width: 90%;
            top: 10%;
        }
      
    }

    
}

@media (max-width:425px) {
  .home-banner {

      min-height: 150px;
    
  }

  
}
