nav{
  text-align: right;


  ul li{
    display: inline;
    margin-left: $margin-base;

    a {
      color: $black;
      text-decoration: none;

      &:hover {
        color: $red;
      }
    }

    &.current-menu-item a {
      color: $red;
    }
    &.current-page-ancestor a {
      color: $red;
    }

  }
}

.single-cpt_blog nav ul li.blog a {
  color: $red;
}

#mobile-navbar {
  display: none;
}

.footer-nav-list {

  li {

    padding-bottom: calc($padding-base / 2);

    &:last-child a{
      border: none;
    }

    a {
      color: $black;
      text-decoration: none;
      font-size: 14px;


    a:hover {
      color: $red;
      text-decoration: underline;
    }
    
    }

  }
  
}

@media (max-width:768px) {

  #menu-main {  
    display: none;
  }

  nav {
    padding-right: $padding-base;
  }
  #mobile-navbar{

    &.navbar {      

    &.mobile-open {
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 120px;
      text-align: center;
      padding: 20px;
      background: $red;
      z-index: 10;

      .navbar-nav {
        display: block;
        width: 100%;
        height: 100%;

        li {
          display: block;
          font-size: 1.4rem;
          padding-bottom: $padding-base;

          a {
            color: $white;

            &:hover {
              color: $black;
            }
          }

          &.current-menu-item a {
            color: $black;
          }

          a::after {
            content: '';
          }

          &.menu-item-has-children {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            width: 100%;

            .submenu-parent {
              flex-grow: 1;
              flex-basis: 80%;
            }

            .open-submenu {
              display: inline-block;
              flex-basis: 20%;
              cursor: pointer;
              
              &:hover{
              text-decoration: none;

                &.sub-opened {
                  transform: rotate(180deg);
                  border: none;
                  border-right: 1px solid $white;
                }
        
              }
              color: $white;
              font-size: 150%;
              text-align: center;
              line-height: 150%;
              border-left: 1px solid $white;
            }

            .sub-menu {
                display: none;

                &.opened-menu {
                  display: block;
                  position: relative;
                  flex-basis: 100%;
                  width: 100%;
                  left: 0;
                }
              
            }

          }
        }
        
      }
    }



    } 
  }

  .mobile-menu-icon {
    display: block;
    cursor: pointer;
    
    .bar1, .bar2, .bar3 {
      width: 35px;
      height: 2px;
      background-color: $red;
      margin: 6px 0;
      transition: 0.4s;
    }
    
  }

}

/* Slide in menu */
.menu-slide-container {
  visibility: hidden;
 position: fixed;
 top: 0;
 right: 0px;
 bottom: 0;
  width: 50%;
  max-width: 70em;
  height: 100%;
  background: $light-grey;
  padding: calc($padding-base * 2) $padding-base;
  overflow: auto;
  z-index: 5;

  @media (max-width:768px) {
    width: 100%;
  }

  &.active {
    visibility: visible;
  }

  .menu-close {
    margin-bottom: $margin-base;
    text-align: right;
  }

  .menu-slide-content {
    max-width: 40em;
    padding-top: calc($padding-base * 2);
    margin: 0 auto;

    h2 {
      margin-top: calc($margin-base * 2);
    }
  }
}

.lock-body{
  overflow: hidden;
}