.post_item {
    padding-bottom: $padding-base;
    margin-bottom: $margin-base;
    border-bottom: 1px solid $light-grey;

    strong {
        font-weight: 600;
        display: inline-block;
        margin-bottom: calc($margin-base /2);
    }
}

.pagination {
    flex-basis: 100%;
    min-width: 100%;
    display: block;

    .page-numbers {
        background: $light-grey;
        color: $black;
        padding: calc($padding-base / 2);
        margin-right: calc($margin-base / 4);

        &.current {
            background: $dark-green;
            color: $white;

            &:hover {
                background: $dark-green;
                color: $white;
            }
        }

        &:hover {
            background: $dark-green;
            color: $white;
        }

        &.next, &.prev {
            text-decoration: none;
        }
    }

    
}

.blog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .post_item {
    width: 45%;
    margin-bottom: $margin-base * 2;

    @media (max-width:600px) {
      width: 100%;
    }

    h3 a{
      text-decoration: none;
      font-size: 26px;
    }

    .blog-image {
      margin-bottom: $margin-base;
      display: block;
    }

    .blog-button {
      background: $dark-green;
      color: $white;
      border-radius: 0;
      text-decoration: none;
      padding: calc($padding-base / 2);
      display: inline-block;

      &:hover {
        background: $light-grey;
        color: $black;
      }
    }
  }

}
