// Basic font sizes. Use Media queries to adapt them for screens.
$font-base: 16px;
$font-xs: $font-base - 4; // 12px
$font-sml: $font-base - 2; // 14px
$font-md: $font-base + 4; // h3 20px
$font-lrg: $font-base + 8; // h2 24px
$font-xl: $font-base * 2; // h1 32px

$line-height-base: 22px;
$line-height-xs: $line-height-base - 6; // 16px
$line-height-font-lrg: $line-height-base + 6; // 28px
$line-height-font-xl: $line-height-base + 14; // 36px



@font-face {
  font-family: 'noto_sansbold';
  src: url('fonts/notosans-bold-webfont.woff2') format('woff2'),
       url('fonts/notosans-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'noto_sansregular';
  src: url('fonts/notosans-regular-webfont.woff2') format('woff2'),
       url('fonts/notosans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'noto_sanssemicondensed_black';
  src: url('fonts/notosans-semicondensedblack-webfont.woff2') format('woff2'),
       url('fonts/notosans-semicondensedblack-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'noto_seriflight_italic';
  src: url('fonts/notoserif-lightitalic-webfont.woff2') format('woff2'),
       url('fonts/notoserif-lightitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'noto_serifsemibold';
  src: url('fonts/notoserif-semibold-webfont.woff2') format('woff2'),
       url('fonts/notoserif-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* open-sans-300 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local(''),
       url('fonts/open-sans-v23-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/open-sans-v23-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: swap;
}
/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('fonts/open-sans-v23-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/open-sans-v23-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: swap;
}
/* open-sans-italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local(''),
       url('fonts/open-sans-v23-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/open-sans-v23-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: swap;
}
/* open-sans-600 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local(''),
       url('fonts/open-sans-v23-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/open-sans-v23-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: swap;
}
/* open-sans-700 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('fonts/open-sans-v23-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/open-sans-v23-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: swap;
}
/* open-sans-800 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local(''),
       url('fonts/open-sans-v23-latin-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/open-sans-v23-latin-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: swap;
}

/* noto-serif-regular - latin */
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('fonts/noto-serif-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/noto-serif-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* noto-serif-italic - latin */
@font-face {
  font-family: 'Noto Serif';
  font-style: italic;
  font-weight: 400;
  src: local(''),
       url('fonts/noto-serif-v20-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/noto-serif-v20-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* noto-serif-700 - latin */
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('fonts/noto-serif-v20-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/noto-serif-v20-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* noto-serif-700italic - latin */
@font-face {
  font-family: 'Noto Serif';
  font-style: italic;
  font-weight: 700;
  src: local(''),
       url('fonts/noto-serif-v20-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/noto-serif-v20-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

$font_bold: 'noto_sansbold';
$font_roman: Arial;
$font_light: Arial;

$font_weight: 600;
$font_weight_low: 200;

$heading-stack: 'noto_serifsemibold', Arial, sans-serif, -apple-system, system-ui, BlinkMacSystemFont;
$body-stack: 'noto_sansregular', Arial, sans-serif, -apple-system, system-ui, BlinkMacSystemFont;
$button-stack: 'noto_sanssemicondensed_black', Arial, sans-serif, -apple-system, system-ui, BlinkMacSystemFont;

body {
  font-family: $body-stack;
  font-size: $font-base;
  color: $black;
  background: $white;
  /*overflow: hidden;*/
}

h1, h2, h3, h4 {
  font-family: $heading-stack;
}
h1 {
  font-size: $font-xl;
  margin-bottom: $margin-base;
  color: $black;
  font-weight: 700;
  line-height: 130%;
}

h2 {
  font-size: $font-lrg;
  margin-bottom: $margin-base;
  color: $black;
  line-height: 130%;
}

h3 {
  font-size: $font-md;
  margin-bottom: $margin-base;
  color: $black;
  line-height: normal;
  line-height: 130%;

  a {
    text-decoration: none;
  }
}

h4 {
  font-size: $font-base;
  margin-bottom: $margin-base;
  color: $red;
}

p{
  font-size: $font-base;
  margin-bottom: $margin-base;
  line-height: $line-height-base;

  &.copyright {
    font-size: $font-xs;
    margin-bottom: 0;
  }
}

strong { 
  font-family: $font_bold;
  font-weight: 600;
}

em {
  font-style: italic;
}

a {
  color: $red;

  &:hover {
    color: $black;
  }
}

.page-content ul, .menu-slide-content ul {
  list-style-type: square;
  margin-left: $margin-base * 2;
  margin-bottom: $margin-base;

  li{
    margin-bottom: calc($margin-base - 2px);
    line-height: 160%;
  }
}

.page-content ol {
  list-style-type: numeric;
  margin-left: $margin-base * 2;
  margin-bottom: $margin-base;
  

  li{
    margin-bottom: calc($margin-base - 2px);
    line-height: 160%;
  }
}