.woocommerce-MyAccount-navigation {

    ul {
        li {
            display: block;
            text-align: left;
            margin: calc($margin-base /2);
        }
    }
}

.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    outline: 0;
    line-height: normal;
    font-size: 16px;
    height: 40px;

    &#order_comments {
        height: 80px;
    }

    
}

.woocommerce-page span.onsale, .woocommerce span.onsale  {
    background-color: $red !important;

}

.woocommerce ul.products li.product .onsale {
    top: 0;
    right: auto;
    left: 0;
    margin: -0.5em -0.5em 0 0;
}

td.actions .coupon {

    .input-text {

        padding: 10px 6px 9px !important;
        width: auto !important;
    }

}

.new-prods li:nth-child(3n) { 
    /* Your styles here */
    margin-right: 0;
}
